@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.font-f-quicksand {
  font-family: 'Quicksand', sans-serif;
}
.font-f-playfair {
  font-family: 'Playfair Display', serif;
}
.about-sec {
  padding-inline: 12rem;
  padding-block: 7rem;
}
.title {
  color: #999;
  font-size: 10px;
  letter-spacing: 4px;
}
h3 {
  letter-spacing: 5px;
  font-size: 18px;
}
.about-p {
  color: #000000b3;
  font-size: 15px;
}
.service {
  flex-grow: 1;
}
.service-1 {
  border-bottom: 2px solid #2c98f0;
  i {
    color: #2c98f0;
    font-size: 30px;
  }
}
.service-2 {
  border-bottom: 2px solid #ec5453;
  i {
    color: #ec5453;
    font-size: 30px;
  }
}
.service-3 {
  border-bottom: 2px solid #f9bf3f;
  i {
    color: #f9bf3f;
    font-size: 30px;
  }
}
.service-4 {
  border-bottom: 2px solid #a84cb8;
  i {
    color: #a84cb8;
    font-size: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .about-sec {
    padding-inline: 10rem !important;
    padding-block: 7.7rem !important;
  }
}
@media screen and (max-width: 980px) {
  .about-sec {
    padding-inline: 8rem !important;
    padding-block: 5.7rem !important;
  }
}
@media screen and (max-width: 780px) {
  .about-sec {
    padding-inline: 6rem !important;
    padding-block: 5rem !important;
  }
}
@media screen and (max-width: 480px) {
  .about-sec {
    padding-inline: 3rem !important;
    padding-block: 5rem !important;
  }
}
